.App {
  width: 100vw;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
}

.container {
  padding: 7% 5%;
}

.Folder-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.8em;
  font-weight: bold;
  color: gray;
}

.Folder-link {
  color: black;
}

.Element-container {
  width: 100%;
  margin-top: 25px;
}

.Element-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5px;
}

.Item-title {
  font-size: 1.2em;
}

.Item-link {
  justify-self: right;
  margin-left: auto;
}

.Item-link .App-link {
  padding-inline: 10px;
}

.Element-appender {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.Appender-textInput {
  border: 1px solid gray;
  max-width: 400px;
  width: 72%;
  padding: 5px;
}

.Appender-button {
  max-width: 100px;
  width: 22%;
  padding: 5px;
  margin-left: 6%;
}

.Decorator-separator {
  padding-inline: 10px;
}
